[Unit]
Description=Argus REST API service
After=network.target
 
[Service]
Type=simple
User=argus
Group=www-data
WorkingDirectory=/home/argus/
EnvironmentFile=/home/argus/.local/etc/arpi-server/config.env
EnvironmentFile=/home/argus/secrets.env
ExecStartPre=/usr/bin/python3 /home/argus/.local/bin/argus-secret
ExecStart=/usr/bin/python3 -m gunicorn \
    -c /home/argus/.local/etc/arpi-server/gunicorn.conf.py \
    --log-level info \
    server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
