[Unit]
Description=Argus monitoring service
After=network.target

[Service]
Type=simple
User=argus
WorkingDirectory=/home/argus/
EnvironmentFile=/home/argus/.local/etc/arpi-server/config.env
EnvironmentFile=/home/argus/secrets.env
ExecStartPre=/usr/bin/python3 /home/argus/.local/bin/arpi-secret
ExecStart=/usr/bin/python3 -m gunicorn \
    -c /home/argus/.local/etc/arpi-monitor/gunicorn.conf.py \
    --timeout 60 \
    monitor.socket_io:socketio_app
Restart=always

[Install]
WantedBy=multi-user.target
