[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start-server = "flask --debug --app server run --host=0.0.0.0 --port=8080"
start-monitor = "flask --app monitor.service:create_app run --no-reload --host=0.0.0.0 --port=8081"
start-nginx = "./scripts/start_nginx.sh"
start-database = "./scripts/start_database.sh"
start-mqtt = "./scripts/start_mqtt.sh"
start-simulator  = "textual run --dev ./src/simulator.py"
start-simulator-web  = "textual serve --dev -p 8888 ./src/simulator.py"
create-package = "tar -cvzf arpi-server.tar.gz --exclude='__pycache__' etc scripts src Pipfile Pipfile.lock"
bump-version = "scripts/bump_version.py"

[requires]
python_version = "3.11"

[packages]
bcrypt = "~=5.0"
flask = "~=3.0.0"
flask-cors = "~=4.0.0"
flask-migrate = "~=4.0.0"
flask-sqlalchemy = "~=3.1.0"
gunicorn = "~=22.0.0"
noipy = "~=1.5.3"
paho-mqtt = "~=2.0.0"
psycopg2-binary = "~=2.9.0"
pydbus = "~=0.6.0"
pygobject = "~=3.50.0"
python-crontab = "~=2.7.0"
python-dotenv = "~=1.1.0"
python-gsmmodem-new = "~=0.13.0"
python-jose = "~=3.3.0"
python-socketio = "~=5.11.0"
pytz = "~=2024.2"
stringcase = "~=1.2.0"
urllib3 = "~=1.26.0"

[dev-packages]
black = "~=23.12"
# the cryptography package is installed with apt on raspberry pi, this is just for dev env
cryptography = "~=46.0"
rope = "~=1.13"

[simulator]
textual = "~=5.3"
textual-dev = "*"

[device]
pywiegand = "==0.5.2"
