[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start-server = "flask --app server run --port=8080"
start-monitor = "flask --app monitor.service:create_app run --no-reload --port=8081"
start-database = "./scripts/start_database.sh"
start-mqtt = "./scripts/start_mqtt.sh"
start-simulator  = "textual run --dev ./src/simulator.py"
create-package = "tar -cvzf arpi-server.tar.gz --exclude='__pycache__' etc scripts src Pipfile Pipfile.lock"

[requires]
python_version = "3.11"

[packages]
flask = "*"
flask-migrate = "~=4.0"
flask-sqlalchemy = "~=3.1"
gunicorn = ">=23.0.0"
noipy = "==1.5.3"
paho-mqtt = "~=2.0"
psycopg2-binary = "~=2.9"
pydbus = "==0.6.0"
pygobject = "~=3.50"
python-crontab = "==2.5.1"
python-dotenv = "*"
python-gsmmodem-new = "==0.13"
python-jose = "~=3.3"
python-socketio = "~=5.11"
pytz = ">=2024.2"
stringcase = "==1.2.0"
urllib3 = "<2"

[dev-packages]
black = "*"
flask-cors = "*"
rope = "*"
textual = "==0.52.1"
textual-dev = "*"

[simulator]
textual = "==0.52.1"
textual-dev = "*"

[device]
pywiegand = "==0.5.2"