[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start-server = "flask run"
start-monitor = "python -d -s -m monitoring"
start-database = "./scripts/start_database.sh"
create-package = "tar -cvzf arpi-server.tar.gz --exclude='__pycache__' etc scripts src Pipfile Pipfile.lock"

[packages]
dnspython = "==2.2.1"
eventlet = "==0.33.1"
flask = "==2.2.2"
flask-migrate = "*"
flask-sqlalchemy = "==3.0.3"
gobject = "==0.1.0"
gunicorn = "==20.1.0"
noipy = "==1.5.3"
psycopg2-binary = "==2.9.3"
pycairo = "==1.21.0"
pydbus = "==0.6.0"
pygobject = "==3.38.0"
python-crontab = "==2.5.1"
python-dotenv = "*"
python-gsmmodem-new = "==0.12"
python-jose = "==3.2.0"
python-socketio = "==5.4.0"
pytz = "==2021.1"
pywiegand="==0.4.3"
stringcase = "==1.2.0"

[dev-packages]
flake8 = "*"
rope = "*"
black = "*"
flask-cors = "*"
textual = "==0.1.18"
pyfiglet = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
