[Unit]
Description=Argus REST API service
After=network.target
 
[Service]
Type=simple
User=argus
Group=www-data
WorkingDirectory=/home/argus/server
EnvironmentFile=/home/argus/server/.env
EnvironmentFile=/home/argus/server/secrets.env
ExecStart=/usr/bin/python3 -m gunicorn \
    -c src/server/gunicorn.conf.py \
    server:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
