[Unit]
Description=Argus monitoring service
After=network.target

[Service]
Type=simple
User=root
PIDFile=/run/argus/argus_monitor.pid
WorkingDirectory=/home/argus/server
ExecStart=/usr/local/bin/pipenv run python -u -s -m monitoring
Restart=on-failure

[Install]
WantedBy=multi-user.target