[Unit]
Description=Argus monitoring service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/argus/server
EnvironmentFile=/home/argus/server/.env
EnvironmentFile=/home/argus/server/secrets.env
ExecStart=/home/argus/.venvs/server/bin/python -m gunicorn \
    -c src/monitor/gunicorn.conf.py \
    --timeout 60 \
    monitor.socket_io:socketio_app
Restart=always

[Install]
WantedBy=multi-user.target
